doctype html(lang='en')
html
  head
    title There's Error

  body
    h2= `Error returned while processing the request:`
    h3(style='color: tomato')= `Error information: [${error.message}]`
    h3(style='color: blue')= `Status: [${error.status}]`
    h4= 'Error Stack: '
      p= error.stack
    a.button(href='/') Go Home
